{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Créditos</h3>
    <p>Este proyecto fue desarrollado como parte de la materia <strong>Desarrollo de Sistemas IV</strong>.</p>

    <ul class="list-unstyled">
        <li><strong>Integrantes:</strong>
            <ul>
                <li>Otman Guizar Manriquez</li>
                <li>Alicia Santiago Hernandez</li>
                <li>Uziel Gonzalez Valle</li>
            </ul>
        </li>
        <li><strong>Proyecto:</strong> Catálogo de Revistas UNISON</li>
        <li><strong>Repositorio:</strong>
            <a href="https://github.com/santiagohernandezalicia/proyecto_final" target="_blank">
                GitHub - proyecto_final
            </a>
        </li>
        <li><strong>Institución:</strong> Universidad de Sonora</li>
        <li><strong>Fecha:</strong> Mayo 2025</li>
    </ul>
</div>
{% endblock %}
